$white: #ffffff;
$lightBG: #c7c7c7;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade: #007c85;

$darkGrey: #4f585e;

body {
  background: $lightBG;
  color: $darkGrey;
  text-rendering: optimizeLegibility;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #3d72b4 0%,
    #eef2f3 25%,
    #8e9eab 51%,
    #b7e3ee 100%
  );
  -webkit-animation: AnimateBG 40s ease infinite;
  animation: AnimateBG 40s ease infinite;
}

.cards-container {
  // height: calc(100% - 64px);
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(5, 1fr);
  margin: 5dvh 3dvw;
  padding-bottom: 5dvh;
  width: 100%;
  height: calc(100% - 64px - 5dvh);
  text-align: center;
  overflow: auto;

  &.disabled {
    pointer-events: none;
  }
}

.cards-container.hasActiveCard {
  .card {
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.cards-container::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
