.counter {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  //   background: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Heebo", sans-serif;
  color: white;
  h1 {
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    padding: 25px;
    text-align: center;
  }

  li span {
    display: block;
    font-size: 42px;
  }

  ul {
    padding: 0;
  }
}
