@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("./styles/attention.scss");

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: "Secular One", Tofu;
  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  body {
    background-color: lightblue;
    position: fixed;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    filter: opacity(0);
  }
}